body{margin:0}
ul{background-color:rgb(73, 73, 101);;display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;height:20vh;font-size:20px;padding:0;margin:0}
ul li{list-style:none;text-align:center;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-webkit-transition:background 400ms linear,color 400ms ease;transition:background 400ms linear,color 400ms ease}
ul li a{color:rgb(255, 255, 44);;font-weight:bold;text-decoration:none;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;height:100%}
ul li:hover{background:rgb(255, 255, 17);}ul li:hover a{color:rgb(73, 73, 101)}.video-box{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:space-evenly;-ms-flex-pack:space-evenly;justify-content:space-evenly;gap:1.5rem}
.video-box>*{min-width:25%;max-width:30%;border:1px solid black;min-height:33%}
.video-box video{width:100%}
.video-box :not(video){padding:0.5rem}
div span{margin: 5px}



