/* .store {
    display: flex;
    min-width: 33%;
        max-width: 40%;
        min-height: 25%;
    
} */


.block {
    margin: 20px;
    border: 5px, solid, black;
    
}



.restt {
    display: flex;
}



.container {
    margin: auto;
    justify-content: center;
    min-width: 90%;
    min-height: 200px;
    display: flex;
    background-color: aqua;
}

